<main>
  <div class="container text-black">

    <div class="product-content product-wrap clearfix product-deatil">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
          <div class="product-image">
            <div id="myCarousel-2" class="carousel slide">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel-2" data-slide-to="0" class></li>
                <li data-target="#myCarousel-2" data-slide-to="1" class="active"></li>
                <li data-target="#myCarousel-2" data-slide-to="2" class></li>
              </ol>
              <div class="carousel-inner">

                <div class="item active">
                  <img src="https://www.bootdey.com/image/700x400/FFB6C1/000000" class="img-responsive" alt />
                </div>

                <div class="item">
                  <img src="https://www.bootdey.com/image/700x400/87CEFA/000000" class="img-responsive" alt />
                </div>

                <div class="item">
                  <img src="https://www.bootdey.com/image/700x400/B0C4DE/000000" class="img-responsive" alt />
                </div>
              </div>
              <!--            <a class="left carousel-control " href="#myCarousel-2" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>-->

              <a class="right carousel-control" href="#myCarousel-2" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
          <h2 class="name text-black">
            Product Name Title Here
            <small>Product by <a href="profile">Adeline</a></small>

          </h2>
          <hr/>
          <h3 class="price-container">
            $129.54
          </h3>
          <div class="certified">

          </div>
          <hr/>
          <div class="description description-tabs">
            <ul id="myTab" class="nav nav-pills">
              <li class="active"><a href="#more-information" data-toggle="tab" class="no-margin ">Product Description </a></li>
              <li class><a href="#specifications" data-toggle="tab">Specifications</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="more-information">
                <br/>
                <strong class="font20px">Description Title</strong>
                <p class="font15px">
                  Integer egestas, orci id condimentum eleifend, nibh nisi pulvinar eros, vitae ornare massa neque ut orci. Nam aliquet lectus sed odio eleifend, at iaculis dolor egestas. Nunc elementum pellentesque augue
                  sodales porta. Etiam aliquet rutrum turpis, feugiat sodales ipsum consectetur nec.
                </p>
              </div>
              <div class="tab-pane fade" id="specifications">
                <br/>
                <dl class>
                  <dt class="font20px">Gravina</dt>
                  <dd class="font15px">Etiam porta sem malesuada magna mollis euismod.</dd>
                  <dd class="font15px">Donec id elit non mi porta gravida at eget metus.</dd>
                  <dd class="font15px">Eget lacinia odio sem nec elit.</dd>
                  <br/>
                  <dt class="font20px">Test lists</dt>
                  <dd  class="font15px">A description list is perfect for defining terms.</dd>
                  <br/>
                  <dt class="font20px">Altra porta</dt>
                  <dd class="font15px">Vestibulum id ligula porta felis euismod semper</dd>
                </dl>
              </div>
              <div class="tab-pane fade" id="reviews">
                <br/>
                <form method="post" class="well padding-bottom-10" onsubmit="return false;">
                  <textarea rows="2" class="form-control" placeholder="Write a review"></textarea>
                  <div class="margin-top-10">
                    <button type="submit" class="btn btn-sm btn-primary pull-right">
                      Submit Review
                    </button>
                    <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title data-original-title="Add Location"><i class="fa fa-location-arrow"></i></a>
                    <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title data-original-title="Add Voice"><i class="fa fa-microphone"></i></a>
                    <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title data-original-title="Add Photo"><i class="fa fa-camera"></i></a>
                    <a href="javascript:void(0);" class="btn btn-link profile-link-btn" rel="tooltip" data-placement="bottom" title data-original-title="Add File"><i class="fa fa-file"></i></a>
                  </div>
                </form>
                <div class="chat-body no-padding profile-message">
                  <ul>
                    <li class="message">
                      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="online"  alt=""/>
                      <span class="message-text">
<a href="javascript:void(0);" class="username">
Alisha Molly
<span class="badge">Purchase Verified</span>
<span class="pull-right">
<i class="fa fa-star fa-2x text-primary"></i>
<i class="fa fa-star fa-2x text-primary"></i>
<i class="fa fa-star fa-2x text-primary"></i>
<i class="fa fa-star fa-2x text-primary"></i>
<i class="fa fa-star fa-2x text-muted"></i>
</span>
</a>
Can't divide were divide fish forth fish to. Was can't form the, living life grass darkness very image let unto fowl isn't in blessed fill life yielding above all moved
</span>
                      <ul class="list-inline font-xs">
                        <li>
                          <a href="javascript:void(0);" class="text-info"><i class="fa fa-thumbs-up"></i> This was helpful (22)</a>
                        </li>
                        <li class="pull-right">
                          <small class="text-muted pull-right ultra-light"> Posted 1 year ago </small>
                        </li>
                      </ul>
                    </li>
                    <li class="message">
                      <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="online"  alt=""/>
                      <span class="message-text">
<a href="javascript:void(0);" class="username">
Aragon Zarko
<span class="badge">Purchase Verified</span>
<span class="pull-right">
<i class="fa fa-star fa-2x text-primary"></i>
<i class="fa fa-star fa-2x text-primary"></i>
<i class="fa fa-star fa-2x text-primary"></i>
<i class="fa fa-star fa-2x text-primary"></i>
<i class="fa fa-star fa-2x text-primary"></i>
</span>
</a>
Excellent product, love it!
</span>
                      <ul class="list-inline font-xs">
                        <li>
                          <a href="javascript:void(0);" class="text-info"><i class="fa fa-thumbs-up"></i> This was helpful (22)</a>
                        </li>
                        <li class="pull-right">
                          <small class="text-muted pull-right ultra-light"> Posted 1 year ago </small>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <button onclick="javascript:void(0);" class="btn-hover color-4">Contact Seller</button>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
              <div class="btn-group pull-right center-block" >
                <button class="btn btn-white btn-default"><i class="fa fa-star"></i> Add to wishlist</button>
                <!--              <button class="btn btn-white btn-default"><i class="fa fa-envelope"></i> Contact Seller</button>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</main>
