<header class="header dark-head">
  <div class="container">
    <nav class="nav">
      <div class="nav__login">
        <ul class="flex items-center">
          <li>


            <div class="dropdown" id="loginDropdown">
              <button class="login-button-link" id="dropdownButton">
                <img ngSrc="../../../assets/img/svg/login.svg" alt="Login" class="login-icon white-icon" height="16" width="16">
              </button>
              <div class="login-dropdown-content" id="dropdownContent">
                <a href="login" id="loginLink">
                  <img ngSrc="../../../assets/img/svg/login.svg" alt="Register" class="login-icon invert-color" height="16" width="16">
                  <span class="dark-lista translate" data-lang-id="login">{{"login" | translate}}</span>
                </a>

                <a href="register" id="registerLink">
                  <img ngSrc="../../../assets/img/svg/register.svg" alt="Register" class="login-icon invert-color" height="16"
                       width="16">
                  <span class="dark-lista translate" data-lang-id="register">{{"register" | translate}}</span>
                </a>
              </div>
            </div>



          </li>
            <li>
                <div class="language-dropdown">
                    <button id="languageButton" class="flex items-center white-icon">
                        <img src="../../../assets/img/svg/lang.svg" alt="Language" class="login-icon" height="16" width="16">
                    </button>
                    <div class="language-list dark-list">
                        <ul class="listul">
                            <li class="listli">
                                <a  (click)="switchLanguage('en')" class="lista hovera hoverbla dark-lista">
                                    <img src="../../../assets/img/logo/eng.png" class="flag" alt="English Flag" height="552" width="920">
                                    <span class="color-ded-white">{{"eng" | translate}}</span>
                                </a>
                            </li>
                            <li class="listli">
                                <a  (click)="switchLanguage('uk')" class="lista hovera dark-lista">
                                    <img src="../../../assets/img/logo/ukr.png" class="flag" alt="Ukraine Flag" height="379" width="626">
                                    <span class="color-ded-white">{{"ukr" | translate}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>

            <li>
            <button id="toggleButton" class="flex items-center">
              <img ngSrc="../../../assets/img/svg/moon.svg" alt="Moon Icon" class="mr-2 moon-icon" style="width: 24px; height: 24px;"
                   height="16" width="16">
              <img ngSrc="../../../assets/img/svg/sun.svg" alt="Sun Icon" class="sun-icon white-icon" style="width: 24px; height: 24px;"
                   height="16" width="16">
            </button>
          </li>
        </ul>
      </div>
      <ul class="menu ">
        <li class="item">

          <a routerLink="">{{"home" | translate}}</a>
        </li>
        <li class="item">

          <a routerLink="about" data-lang-id="about-hed">{{"about" | translate}}</a>

        </li>
        <!--        <li class="item">-->
        <!--          <a routerLink="contacts" data-lang-id="contacts">Contacts</a>-->
        <!--        </li>-->
        <li class="item">
          <a routerLink="catalog" data-lang-id="catalog">{{ "catalog" | translate }}</a>
        </li>
        <li class="item">
          <a routerLink="faq">{{"faq" | translate}}</a>
        </li>
      </ul>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </div>
</header>
