.space-10px{
    margin: 10px;
}

.space-20px{
    margin: 20px;
}

.space-30px{
    margin: 30px;
}

.space-40px{
    margin: 40px;
}

.space-50px{
    margin: 50px;
}

.space-100px{
    margin: 100px;
}

.space-200px{
    margin: 200px;
}

.space-300px{
    margin: 300px;
}

.space-400px{
    margin: 400px;
}

.space-500px{
    margin: 500px;
}

.space-600px{
    margin: 600px;
}

.space-700px{
    margin: 700px;
}

.space-800px{
    margin: 800px;
}

.space-900px{
    margin: 900px;
}

.space-1000px{
    margin: 1000px;
}

.space-1100px{
    margin: 1100px;
}

.space-1200px{
    margin: 1200px;
}

.space-1300px{
    margin: 1300px;
}

.space-1400px{
    margin: 1400px;
}

.space-1500px{
    margin: 1500px;
}

.space-1600px{
    margin: 1600px;
}

.space-1700px{
    margin: 1700px;
}

.space-1800px{
    margin: 1800px;
}

.space-1900px{
    margin: 1900px;
}

.space-2000px{
    margin: 2000px;
}