<main>
  <div class="space-50px"></div>

  <h2 class="about-h2 ">{{'about-b' |translate}}</h2>

  <div class="about-container">
    <div class="about-text">
      <p class="about-p " >{{'aims'|translate}}
      </p>
      <hr class="line dark-line">
      <div class="space-100px"></div>

      <div class="box2">
        <h2 class="h2text-box2 ">
          <span class="prod " >{{'invest'|translate}}
          </span>
          <span > {{'garant'|translate}}</span>
        </h2>
        <p class="text-pbox ">
        <ul class="ul-text">
          <li>
            <span class="prod2" >{{'unikal'|translate}}</span>
            <span >{{'dostup'|translate}}</span>
          </li>
          <br>
          <li>
            <span class="prod2" >{{'expert'|translate}}</span>
            <span >{{'nashi'|translate}}</span>
            <br>
            <br>
          </li>
        </ul>


      </div>


      <div class="space-20px"></div>

      <div class="box3">
        <h2 class="h2text-box2 " >
          <span class="prod" >{{'pokup'|translate}}</span> <span > {{'rada'|translate}}</span>
        </h2>

        <p class="text-pbox " >
        <ul class="ul-text">
          <li><span class="prod2">{{'shir'|translate}}</span> <span>{{'vid'|translate}}</span></li>
          <br>
          <li><span class="prod2">{{'osob'|translate}}</span> <span>{{'vashuni'| translate}}</span></li>
          <br>
        </ul>

      </div>

      <div class="space-20px"></div>

      <div class="box2">
        <h2 class="h2text-box2 " >
          <span class="prod">{{'prodavec'| translate}}</span> <span data-lang-id="garant">{{'garant'|translate}}:</span>
        </h2>
        <p class="text-pbox">
        <ul class="ul-text">
          <li><span class="prod2">{{'efect'|translate}}</span> <span>{{'nashspec'|translate}}</span></li>
          <br>
          <li><span class="prod2" >{{'prof'|translate}}</span> <span> {{'maxi'|translate}}</span></li>
          <br>
        </ul>
      </div>

      <div class="space-20px"></div>

      <div class="box3">
        <h2 class="h2text-box3 prod ">{{'howkore'|translate}}</h2>
        <p class="text-pbox " >
        <ul class="ul-text">
          <li><span class="prod2" >{{'filter'|translate}}</span> <span >{{'zavd'|translate}}</span></li>
          <br>
          <li><span class="prod2" >{{'vivche' |translate}}:</span> <span >{{'detal'|translate}}</span></li>
          <br>
          <li><span class="prod2" >{{'expertni'|translate}}</span> <span >{{'nashcomand'|translate}}</span></li>
          <br>
        </ul>

      </div>
      <div class="space-50px"></div>
      <hr class="line dark-line">

      <p class="about-p">{{'team'| translate}}</p>
    </div>
    <!-- <div class="about-img dark-border">
        <img src="img/bg/city.png" alt="City Image">
    </div> -->
  </div>

  <div class="slider-container">
    <div class="slider">
      <div class="slide" style="background-image: url('../../../assets/img/home_photo/home1.jpg');"></div>
      <div class="slide" style="background-image: url('../../../assets/img/home_photo/home2.jpg');"></div>
      <div class="slide" style="background-image: url('../../../assets/img/home_photo/home3.jpg');"></div>
      <div class="slide" style="background-image: url('../../../assets/img/home_photo/home4.jpg');"></div>
      <div class="slide" style="background-image: url('../../../assets/img/home_photo/home5.jpg');"></div>
      <div class="slide" style="background-image: url('../../../assets/img/home_photo/home6.jpg');"></div>
      <div class="slide" style="background-image: url('../../../assets/img/home_photo/home7.jpg');"></div>
      <div class="slide" style="background-image: url('../../../assets/img/home_photo/home8.jpg');"></div>

    </div>


    <button class="prev buttons">&#10094;</button>
    <button class="next buttons">&#10095;</button>
  </div>

  <div class="space-100px"></div>

  <div class="line dark-line">{{'fahi'|translate}}</div>

  <div class="space-40px"></div>



  <p class="about-p" >{{'p1'|translate}}</p>
  <!-- ============================================================================================== -->
  <div class="space-100px"></div>
  <!-- ============================================================================================== -->
  <div class="box">
    <div class="card">
      <div class="imgBox">
        <img ngSrc="../../../assets/img/person/dmytrenko-alla.jpg" alt="some image" height="7526" width="5017">
      </div>
      <div class="details">
        <h2>
          <span >{{'dima'|translate}}</span>

          <br>
          <span class="span">{{'rent'|translate}}</span>
        </h2>
      </div>
    </div>


    <div class="card">
      <div class="imgBox">
        <img ngSrc="../../../assets/img/person/valery-shevchenko.jpg" alt="some image" height="5376" width="3584">
      </div>
      <div class="details">
        <h2>
          <span > {{'sheva'|translate}} </span>
          <br>
          <span  class="span">{{'sales'|translate}}</span>
        </h2>
      </div>
    </div>



    <div class="card">
      <div class="imgBox">
        <img ngSrc="../../../assets/img/person/nina-zakharchuk.jpg" alt="Nina" height="5824" width="3264">
      </div>
      <div class="details">
        <h2>
          <span>{{'zahar'|translate}}</span>
          <br>
          <span  class="span">{{'sales'|translate}}</span>
        </h2>
      </div>
    </div>



    <div class="card">
      <div class="imgBox">
        <img ngSrc="../../../assets/img/person/sereda-timofey.jpg" alt="Timofey" height="5376" width="3584">
      </div>
      <div class="details">
        <h2>
          <span >{{'sereda'|translate}}</span>
          <br>
          <span  class="span">{{'rent'|translate}}</span>
        </h2>
      </div>
    </div>
  </div>

  <p class="about-p">{{'p2'|translate}}</p>


</main>
