<main>
  <div class="space-50px"></div>

  <h2 class="about-h2 translate" data-lang-id="about-b">Abooooout</h2>

  <div class="about-container">
    <div class="about-text">
      <p class="about-p translate" data-lang-id="aims">
        HomeBrilliant aims to provide you with the largest selection of properties marked by refinement, style and personal touch. Thanks to our large catalog of real estate, you will have the opportunity to find the perfect place to live or invest.
      </p>
      <hr class="line dark-line">
      <div class="space-100px"></div>

      <div class="box2">
        <h2 class="h2text-box2 translate">
          <span class="prod translate" data-lang-id="invest">To investors:</span>
          <span data-lang-id="garant"> HomeBrilliant guarantees:</span>
        </h2>
        <p class="text-pbox translate">
        <ul class="ul-text">
          <li>
            <span class="prod2" data-lang-id="unikal">Unique opportunities:</span>
            <span data-lang-id="dostup">Access advanced properties for investments that stand out in the market.</span>
          </li>
          <br>
          <li>
            <span class="prod2" data-lang-id="expert">Expert consultations:</span>
            <span data-lang-id="nashi">Our real estate experts will provide you with valuable insight and support in making informed decisions.</span>
            <br>
            <br>
          </li>
        </ul>


      </div>


      <div class="space-20px"></div>

      <div class="box3">
        <h2 class="h2text-box2 translate" >
          <span class="prod" data-lang-id="pokup">Buyers:</span> <span data-lang-id="rada"> we recommend using HomeBrilliant:</span>
        </h2>

        <p class="text-pbox translate" >
        <ul class="ul-text">
          <li><span class="prod2" data-lang-id="shir">A wide selection:</span> <span data-lang-id="vid">From luxury apartments to cozy houses - we have everything to satisfy your needs.</span></li>
          <br>
          <li><span class="prod2" data-lang-id="osob">Personal approach:</span> <span data-lang-id="vashuni">Your unique wishes and requirements are our priority. We will help you find exactly what you are looking for.</span></li>
          <br>
        </ul>

      </div>

      <div class="space-20px"></div>

      <div class="box2">
        <h2 class="h2text-box2 translate" >
          <span class="prod" data-lang-id="prodavec"></span> <span data-lang-id="garant"> HomeBrilliant гарантує:</span>
        </h2>
        <p class="text-pbox">
        <ul class="ul-text">
          <li><span class="prod2" data-lang-id="efect">Effective selling:</span> <span data-lang-id="nashspec">Our specialists will help you sell your real estate quickly and profitably.</span></li>
          <br>
          <li><span class="prod2" data-lang-id="prof">Professional marketing:</span> <span data-lang-id="maxi"> We maximize the appeal of your property through advertising and marketing.</span></li>
          <br>
        </ul>
      </div>

      <div class="space-20px"></div>

      <div class="box3">
        <h2 class="h2text-box3 prod translate" data-lang-id="howkore">How to use HomeBrilliant:</h2>
        <p class="text-pbox translate" >
        <ul class="ul-text">
          <li><span class="prod2" >Search and filter:</span> <span data-lang-id="zavd"> Thanks to the advanced search and filters, you can quickly find objects that meet your needs.</span></li>
          <br>
          <li><span class="prod2" data-lang-id="vivche">Studying the catalog:</span> <span data-lang-id="detal">Get to know each object in detail with the help of descriptions and photos in our catalog.</span></li>
          <br>
          <li><span class="prod2" data-lang-id="expertni">Expert consultations:</span> <span data-lang-id="nashcomand">Our team is ready to provide you with an individual approach and consultations.</span></li>
          <br>
        </ul>

      </div>
      <div class="space-50px"></div>
      <hr class="line dark-line">

      <p class="about-p" data-lang-id="team">
        Our team of experts is ready to provide you not only with advice, but also with an individual approach to ensure maximum comfort and confidence in your decisions. Our experts analyze your needs and requirements in depth to find a home that fits your lifestyle and budget. We offer you thorough advice and educated market analysis so you can make informed decisions.</p>
    </div>
    <!-- <div class="about-img dark-border">
        <img src="img/bg/city.png" alt="City Image">
    </div> -->
  </div>

  <div class="slider-container">
    <div class="slider">
      <div class="slide" style="background-image: url('../../../../../assets/img/home_photo/home1.jpg');"></div>
      <div class="slide" style="background-image: url('../../../../../assets/img/home_photo/home2.jpg');"></div>
      <div class="slide" style="background-image: url('../../../../../assets/img/home_photo/home3.jpg');"></div>
      <div class="slide" style="background-image: url('../../../../../assets/img/home_photo/home4.jpg');"></div>
      <div class="slide" style="background-image: url('../../../../../assets/img/home_photo/home5.jpg');"></div>
      <div class="slide" style="background-image: url('../../../../../assets/img/home_photo/home6.jpg');"></div>
      <div class="slide" style="background-image: url('../../../../../assets/img/home_photo/home7.jpg');"></div>
      <div class="slide" style="background-image: url('../../../../../assets/img/home_photo/home8.jpg');"></div>

    </div>


    <button class="prev buttons">&#10094;</button>
    <button class="next buttons">&#10095;</button>
  </div>

  <div class="space-100px"></div>

  <div class="line dark-line" data-lang-id="fahi">Our specialists are ready to help you at any time</div>

  <div class="space-40px"></div>



  <p class="about-p" data-lang-id="p1">Наша команда готова надати вам винятковий рівень обслуговування та вирішувати ваші потреби. Висококваліфіковані та привітні співробітники обладнані глибокими знаннями у галузі нерухомості та готові надавати експертні поради. Вони володіють професіоналізмом та багаторічним досвідом, завжди готові надавати персоналізовану допомогу на кожному етапі вашого досвіду з нами.</p>
  <!-- ============================================================================================== -->
  <div class="space-100px"></div>
  <!-- ============================================================================================== -->
  <div class="box">
    <div class="card">
      <div class="imgBox">
        <img ngSrc="../../../../../assets/img/person/dmytrenko-alla.jpg" alt="some image" height="7526" width="5017">
      </div>
      <div class="details">
        <h2>
          <span data-lang-id="dima">Dmytrenko Alla </span>

          <br>
          <span data-lang-id="rent" class="span">Apartment rental specialist</span>
        </h2>
      </div>
    </div>


    <div class="card">
      <div class="imgBox">
        <img ngSrc="../../../../../assets/img/person/valery-shevchenko.jpg" alt="some image" height="5376" width="3584">
      </div>
      <div class="details">
        <h2>
          <span data-lang-id="sheva"> Shevchenko Valery </span>
          <br>
          <span data-lang-id="sales" class="span">Apartment sales specialist</span>
        </h2>
      </div>
    </div>



    <div class="card">
      <div class="imgBox">
        <img ngSrc="../../../../../assets/img/person/nina-zakharchuk.jpg" alt="Nina" height="5824" width="3264">
      </div>
      <div class="details">
        <h2>
          <span data-lang-id="zahar">Zakharchuk Nina</span>
          <br>
          <span data-lang-id="sales" class="span">Apartment sales specialist</span>
        </h2>
      </div>
    </div>



    <div class="card">
      <div class="imgBox">
        <img ngSrc="../../../../../assets/img/person/sereda-timofey.jpg" alt="Timofey" height="5376" width="3584">
      </div>
      <div class="details">
        <h2>
          <span data-lang-id="sereda">Sereda Timofey</span>
          <br>
          <span data-lang-id="rent" class="span">Apartment rental specialist</span>
        </h2>
      </div>
    </div>
  </div>

  <p class="about-p" data-lang-id="p2">Ми розуміємо унікальність кожного клієнта і підходимо до кожної ситуації індивідуально. Наша команда пропонує вам не тільки ефективну підтримку, але і відкрите, дружелюбне спілкування. Ми вітаємо ваші запитання та завжди готові вам допомогти вирішити будь-які питання. Нехай наші співробітники стануть вашими відданими партнерами у всіх питаннях з нерухомістю, гарантуючи швидку та ефективну реакцію на всі ваші потреби.</p>


</main>
