<main class="body">

    <div class="space-100px"></div>

    <h1 class="h1">
        <span class="translate">{{ "umovi"|translate }}</span>
        <span class="color"> {{ "hb-2"|translate }}</span>
    </h1>

    <p class="p-ware">{{ "laska"|translate }}</p>

    <br>
    <div class="bgcolor">
        <br>
        <h2 class="margin1">{{ "kak"|translate }}</h2>

        <ul class="margin2">
            <p>
                <span>{{ "sbor1"|translate }}</span>
                <br>
                <br>
                <li class="margin3">
                    <span class="bold licolor">{{ "osob"|translate }}</span>
                    <span>{{ "osob1"|translate }}</span>
                </li>
                <br>

                <li class="margin3">
                    <span class="bold licolor">{{ "2"|translate }}:</span>
                    <span>{{ "3"|translate }}</span></li>
                <br>

                <li class="margin3">
                    <span class="bold licolor">{{ "4"|translate }}</span>
                    <span>{{ "5"|translate }}</span>
                </li>
                <br>

                <li class="margin3">
                    <span class="bold licolor">{{ "6"|translate }}</span>
                    <span>{{ "7"|translate }}</span>
                </li>
                <br>

                <span>{{ "8"|translate }}</span>
            </p>
        </ul>

        <h2 class="margin1">{{ "9"|translate }}</h2>
        <ul class="margin2">
            <p>
                <span>{{ "10"|translate }}</span>

                <li>{{ "11"|translate }}</li>

                <br>

                <li>{{ "12"|translate }}</li>

                <br>

                <li>{{ "13"|translate }}</li>
            </p>

        </ul>


        <h2 class="margin1">{{ "14"|translate }}</h2>

        <ul class="margin2">
            <p><span>{{ "15"|translate }}</span>

                <li>{{ "16"|translate }}</li>

                <br>

                <li>{{ "17"|translate }}</li>

                <br>

                <li>{{ "18"|translate }}</li>

                <br>

                <li>{{ "19"|translate }}</li>
            </p>

        </ul>


        <h2 class="margin1">{{ "20"|translate }}</h2>
        <ul class="margin2">
            <p>
                <span>{{ "21"|translate }}</span>

                <li class="margin3">{{ "22"|translate }}</li>

                <br>

                <li>{{ "23"|translate }}</li>

                <span>{{ "24"|translate }}</span>
            </p>
        </ul>


        <h2 class="margin1">{{ "25"|translate }}</h2>
        <ul class="margin2">
            <p><span>{{ "25.5"|translate }}</span>


                <li class="margin3">
                    <span class="bold licolor">{{ "26"|translate }}</span>
                    <span>{{ "27"|translate }}</span></li>

                <br>

                <li class="margin3">
                    <span class="bold licolor">{{ "28"|translate }}</span>
                    <span>{{ "29"|translate }}</span>
                </li>

                <br>

                <li class="margin3">
                    <span class="bold licolor">{{ "30"|translate }}</span>
                    <span>{{ "31"|translate }}</span>
                </li>

                <br>

                <li class="margin3">
                    <span class="bold licolor">{{ "32"|translate }}</span>
                    <span>{{ "33"|translate }}</span>
                </li>

                <br>

                <li class="margin3">
                    <span class="bold licolor">{{ "34"|translate }}</span>
                    <span>{{ "35"|translate }}</span>
                </li>

                <br>

                <li class="margin3">
                    <span class="bold licolor">{{ "36"|translate }}</span>
                    <span>{{ "37"|translate }}</span>
                </li>

                <br>
                <span>{{ "38"|translate }}</span>
            </p>
        </ul>

        <h2 class="margin1">{{ "39"|translate }}</h2>

        <ul class="margin2">
            <p>
                <span>{{ "40"|translate }}</span>

                <li>{{ "41"|translate }}</li>

                <br>

                <li>{{ "42"|translate }}</li>

                <br>

                <li>{{ "43"|translate }}</li>

                <br>

                <li>{{ "44"|translate }}</li>

                <br>

                <li>{{ "45"|translate }}</li>

                <br>
                <span>{{ "46"|translate }}</span>
            </p>
        </ul>

        <h2 class="margin1">{{ "47"|translate }}</h2>

        <ul class="margin2">
            <p>
                <span>{{ "48"|translate }}</span>

                <li class="margin3">{{ "49"|translate }}</li>

                <br>

                <li class="margin3">{{ "50"|translate }}</li>

                <br>

                <li class="margin3">{{ "51"|translate }}</li>

                <br>

                <li class="margin3">{{ "52"|translate }}</li>

                <br>

                <li class="margin3">{{ "53"|translate }}</li>

                <br>
                <span>{{ "54"|translate }}</span>
            </p>
        </ul>

        <h2 class="margin1">{{ "55"|translate }}</h2>

        <ul class="margin2">
            <p>
                <span>{{ "56"|translate }}</span>

                <li class="margin3">
                    <span class="bold licolor">{{ "57"|translate }}</span>
                    <span>{{ "58"|translate }}</span>
                </li>

                <br>

                <li class="margin3">
                    <span class="bold licolor">{{ "59"|translate }}</span>
                    <span>{{ "60"|translate }}</span>
                </li>

                <br>

                <li class="margin3">
                    <span class="bold licolor">{{ "61"|translate }}</span>
                    <span>{{ "62"|translate }}</span>
                </li>

                <br>

                <li class="margin3">
                    <span class="bold licolor">{{ "63"|translate }}</span>
                    <span>{{ "64"|translate }}</span>
                </li>

                <br>

                <li class="margin3">
                    <span class="bold licolor">{{ "65"|translate }}</span>
                    <span>{{ "66"|translate }}</span>
                </li>

                <br>

                <li class="margin3">
                    <span class="bold licolor">{{ "67"|translate }}</span>
                    <span>{{ "68"|translate }}</span>
                </li>

                <br>

                <span>{{ "69"|translate }}</span>
            </p>
        </ul>

        <h2 class="margin1">{{ "70"|translate }}</h2>

        <ul class="margin2">
            <p>
                <span>{{ "71"|translate }}</span>

                <li class="margin3">{{ "72"|translate }}</li>

                <br>

                <li class="margin3">{{ "73"|translate }}</li>

                <br>

                <li class="margin3">{{ "74"|translate }}</li>

                <br>

                <li class="margin3">{{ "75"|translate }}</li>

                <br>

                <li class="">{{ "76"|translate }}</li>

                <br>

                <li class="">{{ "77"|translate }}</li>

                <br>
            </p>
        </ul>

        <h2 class="margin1">{{ "78"|translate }}</h2>

        <ul class="margin2">
            <p>
                <span>{{ "79"|translate }}</span>

                <li>{{ "80"|translate }}</li>

                <br>

                <li>{{ "81"|translate }}</li>

                <br>

                <li>{{ "82"|translate }}</li>

                <br>

                <li>{{ "83"|translate }}</li>

                <br>
            </p>
        </ul>
    </div>

</main>
