<main>

  <form >
    <h1 class="h1" data-lang-id="register">Register</h1>
    <section class="space-40px"></section>

    <section class="center">
      <ul class="social-icons icon-circle icon-rotate list-unstyled list-inline">
        <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
        <li> <a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
        <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </section>
    <div class="form-row">
      <div class="form-group col-md-5" >
        <label for="ExampleName"><span data-lang-id="name">Name</span></label>
        <input type="text" class="form-control" name="Name" id="ExampleName" aria-describedby="emailHelp" placeholder="Name" data-lang-id="name_placeholder">
      </div>
      <div class="form-group col-md-5">
        <label for="ExampleLastName"><span data-lang-id="lastname">Last Name:</span></label>
        <input type="text" class="form-control" name="LastName" id="ExampleLastName" placeholder="Last Name" data-lang-id="lastname_placeholder">
      </div>
    </div>


    <div class="form-group">
      <label for="ExampleEmail"><span data-lang-id="phone">Phone Number:</span></label>
      <input type="tel" class="form-control" name="phone" id="ExamplePhone" aria-describedby="emailHelp" placeholder="Number" data-lang-id="number_placeholder">
    </div>

    <div class="form-group">
      <label for="ExampleEmail"><span data-lang-id="email">Email</span></label>
      <input type="email" class="form-control" name="Email" id="ExampleEmail" aria-describedby="emailHelp" placeholder="Email" data-lang-id="email_placeholder">
    </div>

    <div class="form-group">
      <label for="ExamplePassword"><span data-lang-id="password">Password</span></label>
      <input type="password" class="form-control" name="Password" id="ExamplePassword" placeholder="Password" data-lang-id="password_placeholder">
    </div>





    <div class="form-group">
      <label for="exampleFormControlSelect1"><span data-lang-id="gender">What is your gender?</span></label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option  disabled data-lang-id="gen">Select your gender:</option>
        <option data-lang-id="male">Male</option>
        <option data-lang-id="female">Female</option>
      </select>
    </div>




    <div class="form-group  ">
      <label for="exampleFormControlSelect2"><span data-lang-id="city">Which city are you from ?</span></label>
      <select class="form-control" id="exampleFormControlSelect2">
        <option  disabled >Select your city:</option>
        <option data-lang-id="Kiev">Kiev</option>
        <option data-lang-id="Kharkiv">Kharkiv</option>
        <option data-lang-id="Odessa">Odessa</option>
        <option data-lang-id="Kiev">Kiev</option>
        <option data-lang-id="Kharkiv">Kharkiv</option>
        <option data-lang-id="Odessa">Odessa</option>
        <option data-lang-id="Dnipro">Dnipro</option>
        <option data-lang-id="Donetsk">Donetsk</option>
        <option data-lang-id="Lviv">Lviv</option>
        <option data-lang-id="Zaporizhzhia">Zaporizhzhia</option>
        <option data-lang-id="Kryvyi Rih">Kryvyi Rih</option>
        <option data-lang-id="Sevastopol">Sevastopol</option>
        <option data-lang-id="Mykolaiv">Mykolaiv</option>
        <option data-lang-id="Mariupol">Mariupol</option>
        <option data-lang-id="Luhansk">Luhansk</option>
        <option data-lang-id="Vinnytsia">Vinnytsia</option>
        <option data-lang-id="Makiivka">Makiivka</option>
        <option data-lang-id="Simferopol">Simferopol</option>
        <option data-lang-id="Chernihiv">Chernihiv</option>
        <option data-lang-id="Poltava">Poltava</option>
        <option data-lang-id="Kherson">Kherson</option>
        <option data-lang-id="Khmelnytskyi">Khmelnytskyi</option>
        <option data-lang-id="Cherkasy">Cherkasy</option>
        <option data-lang-id="Chernivtsi">Chernivtsi</option>
        <option data-lang-id="Zhytomyr">Zhytomyr</option>
        <option data-lang-id="Sumy">Sumy</option>
        <option data-lang-id="Rivne">Rivne</option>
        <option data-lang-id="Horlivka">Horlivka</option>
        <option data-lang-id="Ivano-Frankivsk">Ivano-Frankivsk</option>
        <option data-lang-id="Kamenets-Podilskyi">Kamenets-Podilskyi</option>
        <option data-lang-id="Ternopil">Ternopil</option>
        <option data-lang-id="Kropyvnytskyi">Kropyvnytskyi</option>
        <option data-lang-id="Lutsk">Lutsk</option>
        <option data-lang-id="Kremenchuk">Kremenchuk</option>
        <option data-lang-id="Bila Tserkva">Bila Tserkva</option>
        <option data-lang-id="Kerch">Kerch</option>
        <option data-lang-id="Melitopol">Melitopol</option>
        <option data-lang-id="Kramatorsk">Kramatorsk</option>
        <option data-lang-id="Uzhgorod">Uzhgorod</option>
        <option data-lang-id="Brovary">Brovary</option>
        <option data-lang-id="Yevpatoria">Yevpatoria</option>
        <option data-lang-id="Berdiansk">Berdiansk</option>
        <option data-lang-id="Alchevsk">Alchevsk</option>
        <option data-lang-id="Nikopol">Nikopol</option>
        <option data-lang-id="Slovyansk">Slovyansk</option>
        <option data-lang-id="Pavlohrad">Pavlohrad</option>
        <option data-lang-id="Perevalsk">Perevalsk</option>

      </select>
    </div>



    <section class="space-40px"></section>

    <button  type="submit" class="btn-hover color-2 dark-button7 btn-center" data-lang-id="register">Register</button>
    <section class="space-40px"></section>

    <p class="center white-i"><span data-lang-id="acc">You already have an account then:</span> <a href="login" class="red-i"><span data-lang-id="voidi"> Login!</span></a></p>

  </form>

</main>
