<main>

  <form >
    <h1 class="h1">{{'register'|translate}}</h1>
    <section class="space-40px"></section>

      <section class="center">
          <ul class="social-icons icon-circle icon-rotate list-unstyled list-inline">
              <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
              <li> <a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
              <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
      </section>
      <div class="form-row">
          <div class="form-group col-md-5" >
              <label for="ExampleName"><span>{{'name'|translate}}</span></label>
              <input type="text" class="form-control" name="Name" id="ExampleName" aria-describedby="emailHelp" placeholder="{{'name_placeholder'|translate}}">
          </div>
          <div class="form-group col-md-5">
              <label for="ExampleLastName"><span>{{'lastname'|translate}}</span></label>
              <input type="text" class="form-control" name="LastName" id="ExampleLastName" placeholder="{{'lastname_placeholder'|translate}}">
          </div>
      </div>


      <div class="form-group">
          <label for="ExampleEmail"><span>{{'phone'|translate}}</span></label>
          <input type="tel" class="form-control" name="phone" id="ExamplePhone" aria-describedby="emailHelp" placeholder="{{'number_placeholder'|translate}}">
      </div>

      <div class="form-group">
          <label for="ExampleEmail"><span>{{'email'|translate}}</span></label>
          <input type="email" class="form-control" name="Email" id="ExampleEmail" aria-describedby="emailHelp" placeholder="{{'email_placeholder'|translate}}">
      </div>

      <div class="form-group">
          <label for="ExamplePassword"><span>{{'password'|translate}}</span></label>
          <input type="password" class="form-control" name="Password" id="ExamplePassword" placeholder="{{'password_placeholder'|translate}}">
      </div>





      <div class="form-group">
          <label for="exampleFormControlSelect1"><span>{{'gender'|translate}}</span></label>
          <select class="form-control" id="exampleFormControlSelect1">
              <option  disabled>{{'gen'|translate}}</option>
              <option>{{'male'|translate}}</option>
              <option>{{'female'|translate}}</option>
          </select>
      </div>




      <div class="form-group  ">
          <label for="exampleFormControlSelect2"><span>{{'city'|translate}}</span></label>
          <select class="form-control" id="exampleFormControlSelect2">
              <option  disabled >{{'selecty'|translate}}</option>
              <option>{{'Kiev'|translate}}</option>
              <option>{{'Kharkiv'|translate}}</option>
              <option>{{'Odessa'|translate}}</option>
              <option>{{'Kiev'|translate}}</option>
              <option>{{'Kharkiv'|translate}}</option>
              <option>{{'Odessa'|translate}}</option>
              <option>{{'Dnipro'|translate}}</option>
              <option>{{'Donetsk'|translate}}</option>
              <option>{{'Lviv'|translate}}</option>
              <option>{{'Zaporizhzhia'|translate}}</option>
              <option>{{'Kryvyi Rih'|translate}}</option>
              <option>{{'Sevastopol'|translate}}</option>
              <option>{{'Mykolaiv'|translate}}</option>
              <option>{{'Mariupol'|translate}}</option>
              <option>{{'Luhansk'|translate}}</option>
              <option>{{'Vinnytsia'|translate}}</option>
              <option>{{'Makiivka'|translate}}</option>
              <option>{{'Simferopol'|translate}}</option>
              <option>{{'Chernihiv'|translate}}</option>
              <option>{{'Poltava'|translate}}</option>
              <option>{{'Kherson'|translate}}</option>
              <option>{{'Khmelnytskyi'|translate}}</option>
              <option>{{'Cherkasy'|translate}}</option>
              <option>{{'Chernivtsi'|translate}}</option>
              <option>{{'Zhytomyr'|translate}}</option>
              <option>{{'Sumy'|translate}}</option>
              <option>{{'Rivne'|translate}}</option>
              <option>{{'Horlivka'|translate}}</option>
              <option>{{'Ivano-Frankivsk'|translate}}</option>
              <option>{{'Kamenets-Podilskyi'|translate}}</option>
              <option>{{'Ternopil'|translate}}</option>
              <option>{{'Kropyvnytskyi'|translate}}</option>
              <option>{{'Lutsk'|translate}}</option>
              <option>{{'Kremenchuk'|translate}}</option>
              <option>{{'Bila Tserkva'|translate}}</option>
              <option>{{'Kerch'|translate}}</option>
              <option>{{'Melitopol'|translate}}</option>
              <option>{{'Kramatorsk'|translate}}</option>
              <option>{{'Uzhgorod'|translate}}</option>
              <option>{{'Brovary'|translate}}</option>
              <option>{{'Yevpatoria'|translate}}</option>
              <option>{{'Berdiansk'|translate}}</option>
              <option>{{'Alchevsk'|translate}}</option>
              <option>{{'Nikopol'|translate}}</option>
              <option>{{'Slovyansk'|translate}}</option>
              <option>{{'Pavlohrad'|translate}}</option>
              <option>{{'Perevalsk'|translate}}</option>

          </select>
      </div>



      <section class="space-40px"></section>

      <button  type="submit" class="btn-hover color-2 dark-button7 btn-center">{{'register'|translate}}</button>
      <section class="space-40px"></section>

      <p class="center white-i"><span>{{'acc'|translate}}</span> <a href="login" class="red-i"><span>{{'voidi'|translate}}</span></a></p>

  </form>

</main>
