
<main class="">
  <div class="space-200px"></div>
  <h1>Brilliant Home</h1>
  <h5 class="under-text translate" data-lang-id="under">Site where your home dream will come true</h5>
  <br>
  <br>
  <br>
  <div class="buttons">
    <a href="#">
      <button class="btn-hover color-7  translate" data-lang-id="watch">Watch</button>
    </a>
  </div>
  <div class="space-200px"></div>
  <div class="line dark-line translate" data-lang-id="chooseDesign">Choose the design you like best</div>
  <div class="space-100px"></div>
  <div class="box">
    <div class="mini-box dark-box">
      <h2 class="h2text">Home Brilliant</h2>
      <p class="text translate ptext" data-lang-id="welcome">Welcome to HomeBrilliant, where your search for the perfect home turns into an exciting journey. In our catalog on the website, you will find unique apartments, emphasized by comfort and style, and ready to turn your wishes into reality. Our real estate properties combine high quality with affordability, and our team of experts is ready to provide you with professional support at every stage. Go to our catalog right now to enjoy the wealth of choice and unique offers. We don't just sell apartments, we create long-term relationships, guaranteeing you not only a home, but also a communal space in which you will be happy. Open the door to your new, brilliant future with HomeBrilliant.</p>
      <div class="buttons">
        <button class="btn-hover color-7 modal-close  translate" data-lang-id="watch">Watch</button>
      </div>
    </div>
  </div>
  <div class="space-100px" id="home-why"></div>
  <div class="line dark-line translate" data-lang-id="why">Why do people choose us?</div>
  <div class="space-100px"></div>



  <div class="box2-index">
    <h2 class="h2text-box2 translate pcolor" data-lang-id="cause1">Unique offers:</h2>
    <p class="text-pbox translate ptext" data-lang-id="causetext1">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et vulputate mauris. Praesent in eros blandit mi rhoncus malesuada. Integer non felis molestie lacus ultrices sollicitudin a sit amet odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam eleifend tempus justo a fringilla. In tempus augue eu ex pretium vulputate vulputate a risus. Pellentesque quis imperdiet enim. Donec blandit urna at pharetra imperdiet. Aenean interdum aliquam quam, id posuere diam scelerisque et. Vestibulum finibus, quam vitae condimentum cursus, enim lorem imperdiet nisl, non lacinia diam mauris eget ex. Aenean ac leo non tellus fringilla auctor vitae sit amet magna. In efficitur sit amet dolor tincidunt gravida. Integer a pharetra nunc, quis cursus turpis. Donec eget aliquet eros.
    </p>
  </div>
  <div class="space-20px"></div>
  <div class="box3-index">
    <h2 class="h2text-box3 translate pcolor" data-lang-id="cause2">Professionalism and support:</h2>
    <p class="text-pbox translate ptext" data-lang-id="causetext2">
      We are embarking on a journey into a world of unique possibilities together with HomeBrilliant - your reliable guide in the search for the perfect home. Our website catalog invites you to discover special offers that combine sophistication and affordability. You will be able to feel comfort and style in every square meter of your chosen accommodation. Our properties are not just houses, but spaces filled with comfort and elegance. Welcome to the world of HomeBrilliant, where every choice is the way to your own unique space.
    </p>
  </div>
  <div class="space-20px"></div>
  <div class="box2-index">
    <h2 class="h2text-box2 translate pcolor" data-lang-id="cause3">Long-term relationship:</h2>
    <p class="text-pbox translate ptext" data-lang-id="causetext3">
      HomeBrilliant doesn't just sell homes; we build long-term partnerships based on mutual understanding and trust. We believe that our clients deserve not only high-quality housing, but also a unique communication environment. After the agreement is concluded, we do not stop our care - we become your reliable partners, ensuring comfort and well-being with our services throughout the life of your new home. Welcome to the HomeBrilliant community, where every customer is part of our family.
    </p>
  </div>
  <div class="space-100px"></div>
  <div class="box4" id="homeb">
    <div class="mini-box4 dark-box">
      <h2 class="h2text ">Home Brilliant</h2>
      <p class="text translate ptext" data-lang-id="box4-one">HomeBrilliant is the leader among the competition, and here's why. Our company is defined not only as a seller of housing, but also as a creator of individual and elite living spaces. We are ahead of the competition thanks to unique offers that combine luxury, technological innovation and exquisite design. Our properties are true masterpieces in which every element is imbued with style and functionality.</p>
      <p class="text translate ptext" data-lang-id="box4-two">Our team of professionals exceeds expectations, thanks to a high level of expertise and a personal approach to each client. We offer not only sales, but also consultation, support and individual solutions for each buyer. HomeBrilliant is not just a company, it is a lifestyle and a partnership that provides you with not only a beautiful home, but also a sense of privilege and unparalleled quality. Choose us, choose an exceptional future, where every day is a new opportunity to enjoy life in luxury and comfort.</p>
      <div class="buttons">
        <a routerLink="catalog"><button class="btn-hover color-7  translate" data-lang-id="catalog">Catalog</button></a>
      </div>
    </div>
  </div>
  <div class="space-100px"></div>
</main>


