
<main class="">
  <div class="space-200px"></div>
  <h1>Brilliant Home</h1>
<!--    <h1> {{"greeting" |}} </h1>-->
  <h5 class="under-text" >{{"under"|translate}}</h5>
  <br>
  <br>
  <br>
  <div class="buttons">
    <a href="#">
      <button class="btn-hover color-7 " >{{ "watch" |translate }}</button>
    </a>
  </div>
  <div class="space-200px"></div>
  <div class="line dark-line" >{{'chooseDesign' |translate}}</div>
  <div class="space-100px"></div>
  <div class="box">
    <div class="mini-box dark-box">
      <h2 class="h2text">Home Brilliant</h2>
      <p class="text ptext">{{'welcome' |translate}}</p>
      <div class="buttons">
        <button class="btn-hover color-7 modal-close " >{{ "watch" |translate }}</button>
      </div>
    </div>
  </div>
  <div class="space-100px" id="home-why"></div>
  <div class="line dark-line" >{{'why'|translate}}</div>
  <div class="space-100px"></div>



  <div class="box2-index">
    <h2 class="h2text-box2 pcolor" >{{'cause1'|translate}}</h2>
    <p class="text-pbox ptext">{{'causetext1' |translate}}</p>
  </div>
  <div class="space-20px"></div>
  <div class="box3-index">
    <h2 class="h2text-box3 pcolor" >{{'cause2' |translate}}</h2>
    <p class="text-pbox ptext">{{'causetext2' |translate}}</p>
  </div>
  <div class="space-20px"></div>
  <div class="box2-index">
    <h2 class="h2text-box2 pcolor" >{{'cause3'|translate}}</h2>
    <p class="text-pbox ptext">{{'causetext3'|translate}}</p>
  </div>
  <div class="space-100px"></div>
  <div class="box4" id="homeb">
    <div class="mini-box4 dark-box">
      <h2 class="h2text ">Home Brilliant</h2>
      <p class="text ptext" >{{'box4-one' |translate}}</p>
      <p class="text ptext">{{'box4-two' |translate}}</p>
      <div class="buttons">
        <a routerLink="catalog"><button class="btn-hover color-7 ">{{'catalog' |translate}}</button></a>
      </div>
    </div>
  </div>
  <div class="space-100px"></div>
</main>


