<main>

  <form >
    <h1 class="h1" data-lang-id="logIn">Login in to an existing account</h1>

    <div class="form-group">
      <label for="ExampleEmail" data-lang-id="email">Email</label><br>
      <input type="email" class="form-control" name="Email" id="ExampleEmail" aria-describedby="emailHelp" placeholder="Enter Email" data-lang-id="email_placeholder">
    </div>

    <div class="form-group">
      <label for="ExamplePassword" data-lang-id="password">Password</label>
      <br>
      <input type="password" class="form-control" name="Password" id="ExamplePassword" placeholder="Enter Password" data-lang-id="password_placeholder">
    </div>

    <section class="space-40px"></section>

    <section class="center">
      <ul class="social-icons icon-circle icon-rotate list-unstyled list-inline">
        <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
        <li> <a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
        <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </section>

    <section class="space-40px"></section>


    <button  type="submit" class="btn-hover color-2 dark-button7 btn-center" data-lang-id="logb">Login</button>

    <section class="space-40px"></section>

    <p class="center white-i"><span data-lang-id="notacc">You don't have an account then:</span> <a href="register" class="red-i"><span data-lang-id="reg">Register!</span></a></p>

  </form>

</main>
