<main>
    <div class="space-200px"></div>
  <form >
    <h1 class="h1">{{'loginaut'|translate}}</h1>

    <div class="form-group">
      <label for="ExampleEmail">{{'email'|translate}}</label><br>
      <input type="email" class="form-control" name="Email" id="ExampleEmail" aria-describedby="emailHelp" placeholder="{{'email_placeholder'|translate}}">
    </div>

    <div class="form-group">
      <label for="ExamplePassword" >{{'password'|translate}}</label>
      <br>
      <input type="password" class="form-control" name="Password" id="ExamplePassword" placeholder="{{'password_placeholder'| translate}}" >
    </div>

    <section class="space-40px"></section>

    <section class="center">
      <ul class="social-icons icon-circle icon-rotate list-unstyled list-inline">
        <li> <a href="#"><i class="fa fa-facebook"></i></a></li>
        <li> <a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
        <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </section>

    <section class="space-40px"></section>


    <button  type="submit" class="btn-hover color-2 dark-button7 btn-center">{{'logb'|translate}}</button>

    <section class="space-40px"></section>

    <p class="center white-i"><span>{{'notacc'|translate}}</span> <a href="register" class="red-i"><span>{{'reg'|translate}}</span></a></p>

  </form>

</main>
