
<main>
  <button id="toggleButton" class="flex items-center invert" disabled>
    <img ngSrc="../../../../../assets/svg/moon.svg" alt="Moon Icon" class="mr-2 moon-icon" style="width: 1px; height: 1px;" fill="">
    <img ngSrc="../../../../../assets/svg/moon.svg" alt="Sun Icon" class="sun-icon white-icon" style="width: 1px; height: 1px;" fill="">
  </button>

  <div id="notfound">
    <div class="notfound">
      <div class="notfound-404">
        <h3>Oops! Page not found</h3>
        <h1><span>4</span><span>0</span><span>4</span></h1>
      </div>
      <h2>we are sorry, but the page you requested was not found</h2>
      <button class="btn-hover color-7" onclick="history.go(-1)">Вернуться назад</button>




    </div>
  </div>

</main>


