<footer>
    <br>
    <br>
  <div class="footer-content">
    <h3 class="footer-h3">Brilliant Home</h3>
    <div class="footer-menu">
      <hr>
      <ul class="f-menu">
        <li><a routerLink="" data-lang-id="home">{{"home" | translate}}</a></li>
        <li><a routerLink="about" data-lang-id="about-hed">{{"about" | translate}}</a></li>
        <!--        <li><a routerLink="contacts" data-lang-id="contacts">Contact</a></li>-->
        <li><a href="catalog" data-lang-id="catalog">{{ "catalog" | translate }}</a></li>
        <li><a routerLink="faq">{{"faq" | translate}}</a></li>
      </ul>
    </div>
    <p class="translate" data-lang-id="hb">{{"hb" | translate}}
    </p>
    <div class="flex-center">
      <i class="fa fa-github fa-4x icon-3d"></i>
      <i class="fa fa-twitter fa-4x icon-3d"></i>
      <i class="fa fa-facebook fa-4x icon-3d"></i>
      <i class="fa fa-instagram fa-4x icon-3d"></i>
    </div>
    <br>
    <a routerLink="privacy" class="privacy translate" data-lang-id="privacy">{{"privacy"|translate}}</a>

  </div>

  <hr>
  <div class="footer-bottom ">
    <p>copyright &copy; 2024 <a routerLink=""> HomeBrilliant.</a></p>
  </div>

</footer>
