<main class="">
  <div class="space-100px"></div>
  <h1>{{'84'|translate}}</h1>
  <br>
  <br>
  <div class="bgcolor">
    <div class="main">
      <br>
      <h2 >{{'85'|translate}}</h2>
      <p>
        <span >{{'86'|translate}}</span>
      </p>
      <h3  class="color">{{'87'|translate}}</h3>
      <ul class="margin2">
        <li>
          <span  class="color">{{'88'|translate}}</span>
          <br>
          <span >{{'89'|translate}}</span>
        </li>
        <br>
        <li>
          <span  class="color">{{'90'|translate}}</span>
          <br>
          <span >{{'91'|translate}} </span>
        </li>
        <br>
        <li>
          <span  class="color">{{'92'|translate}}</span>
          <br>
          <span >{{'93'|translate}}</span>
        </li>
        <br>
        <li>
          <span  class="color">{{'94'|translate}}</span>
          <br>
          <span >{{'95'|translate}}</span>
        </li>
        <br>
        <li>
          <span  class="color">{{'96'|translate}}</span>
          <br>
          <span >{{'97'|translate}}</span>
        </li>
        <br>
      </ul>
      <span >{{'98'|translate}}</span>
      <hr>
      <h2  class="center color">{{'99'|translate}}</h2>
    </div>
    <br>
  </div>
  <div class="space-20px"></div>

  <app-faq-conteiner></app-faq-conteiner>
  <br>
  <br>

  <div class="bgcolor">

    <div class="main">
      <br>
      <h2 >{{'108'|translate}}</h2>

      <h3 >{{'109'|translate}}</h3>
      <p>
        <span >{{'110'|translate}} </span>

      <ul class="margin2">
        <li>
          <span  class="color">{{'111'|translate}}</span>
          <br>
          <span >{{'112'|translate}} </span>
        </li>

        <br>

        <li>
          <span  class="color">{{'113'|translate}} </span>
          <br>
          <span >{{'114'|translate}}</span>
        </li>

        <br>

        <li>
          <span  class="color">{{'115'|translate}}:</span>
          <br>
          <span >{{'116'|translate}}</span>
        </li>

        <br>

        <li>
          <span  class="color">{{'117'|translate}}</span>
          <br>
          <span >{{'118'|translate}}</span>
        </li>

        <br>

        <li>
          <span  class="color">{{'119'|translate}}</span>
          <br>
          <span >{{'120'|translate}}</span>
        </li>

        <br>

        <li>
          <span  class="color">{{'121'|translate}}</span>
          <br>
          <span >{{'122'|translate}}</span>
        </li>

        <br>

        <li>
          <span  class="color">{{'123'|translate}}</span>
          <br>
          <span >{{'124'|translate}}</span>
        </li>

        <br>

        <li>
          <span  class="color">{{'125'|translate}}</span>
          <br>
          <span >{{'126'|translate}}</span>
        </li>

        <br>

        <li>
          <span  class="color">{{'127'|translate}}</span>
          <br>
          <span >{{'128'|translate}}</span>
        </li>

        <br>

        <li>
          <span  class="color">{{'129'|translate}}</span>
          <br>
          <span >{{'130'|translate}}</span>
        </li>

        <br>

      </ul>
      <span >{{'131'|translate}}</span>

      <br>

    </div>
  </div>
  <div class="space-20px"></div>

  <app-faq-conteiner2></app-faq-conteiner2>
  <br>
  <br>


  <div class="bgcolor">
    <br>
    <div class="main">
      <h2 >{{'140'|translate}}</h2>
      <h3  class="color">{{'141'|translate}}</h3>
      <p>
        <span >{{'142'|translate}}</span>
      </p>
      <hr>
      <h2 >{{'143'|translate}}</h2>
      <h3  class="color">{{'144'|translate}}</h3>
      <p>
        <span >{{'145'|translate}}</span>
      </p>
      <hr>
      <h2 >{{'146'|translate}}</h2>
      <h3  class="color">{{'147'|translate}}</h3>
      <p>
        <span >{{'148'|translate}}</span>
      </p>
      <br>
    </div>
  </div>

</main>
